body {
  background-image: url(http://78.media.tumblr.com/0b96c11a749b6ccbf69162e89da4acc3/tumblr_n5iz4n4dNf1qblgjco3_500.png);
  align-content: center; 
  font-family: 'Cinzel', serif;
;
}

#box {width: 50%;
margin-left:25%;
text-align: center;
border-style: double;
background-color:#FFF0F5 }



a:link {
    color:black;
    text-decoration: none;
}

a:visited {
    color:black;
    text-decoration: none;
}