<!DOCTYPE html>
<html>
  <head>
    <title>Disabilities</title>
  </head>
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Homemade+Apple" rel="stylesheet">
  <link href="css/disabilities.css" rel="stylesheet">

  <body>
      <button><a href="/">Home</a></button>
    <h1>Disabilities</h1>
    <div class = "borders"</div>
    <h2> Autism </h2>

    Autism spectrum disorder (ASD) is a complex developmental disability; signs typically appear during early childhood and affect a person’s ability to communicate, and interact with others. ASD is defined by a certain set of behaviors and is a “spectrum condition” that affects individuals differently and to varying degrees. There is no known single cause of autism, but increased awareness and early diagnosis/intervention and access to appropriate services/supports lead to significantly improved outcomes. Some of the behaviors associated with autism include delayed learning of language; difficulty making eye contact or holding a conversation; difficulty with executive functioning, which relates to reasoning and planning; narrow, intense interests; poor motor skills’ and sensory sensitivities. Again, a person on the spectrum might follow many of these behaviors or just a few, or many others besides. The diagnosis of autism spectrum disorder is applied based on analysis of all behaviors and their severity.

In 2018, the Centers for Disease Control and Prevention issued their ADDM autism prevalence report. The report concluded that the prevalence of autism had risen to 1 in every 59 births in the United States – twice as great as the 2004 rate of 1 in 125 – and almost 1 in 54 boys. The spotlight shining on autism as a result has opened opportunities for the nation to consider how to serve families facing a lifetime of supports for the individual with autism. In June 2014, researchers estimated the lifetime cost of caring for an individual with autism is as great as $2.4 million. The Autism Society estimates that the United States is facing almost $90 billion annually in costs for autism. (This figure includes research, insurance costs and non-covered expenses, Medicaid waivers for autism, educational spending, housing, transportation, employment, related therapeutic services and caregiver costs.)
    <br>
   
    <img src="https://www.autism.org.uk/en-gb/~/media//nas/professionals/training-and-consultancy/autism-training-for-education-professionals850x450web.ashx"
        alt= "Autism" class="center" width="400"
 
         <br>
    
   
    <button> <a href= "https://www.autismspeaks.org/what-autism">Learn More About Autism Here</a></button>
    <hr>
    <h2> Cerebral Palsy</h2>
    Cerebral palsy affects people in different ways and can affect body movement, muscle control, muscle coordination, muscle tone, reflex, posture and balance. Although cerebral palsy is a permanent life-long condition, some of these signs of cerebral palsy can improve or worsen over time. Cerebral palsy is a disorder of movement, muscle tone or posture that is caused by damage that occurs to the immature, developing brain, most often before birth.

Signs and symptoms appear during infancy or preschool years. In general, cerebral palsy causes impaired movement associated with abnormal reflexes, floppiness or rigidity of the limbs and trunk, abnormal posture, involuntary movements, unsteady walking, or some combination of these.

People with cerebral palsy may have problems swallowing and commonly have eye muscle imbalance, in which the eyes don't focus on the same object. People with cerebral palsy also may suffer reduced range of motion at various joints of their bodies due to muscle stiffness.

Cerebral palsy's effect on functional abilities varies greatly. Some affected people can walk while others can't. Some people show normal or near-normal intellectual capacity, but others may have intellectual disabilities. Epilepsy, blindness or deafness also may be present.
    <br>
    <img src = "https://www.shrinershospitalsforchildren.org/Uploads/Public/Images/SHC/Locations/chicago/Care/Orthopaedics/_/media/pediatric%20orthopaedics%20cerebral%20palsy.jpg" width = "300"
  class = "center"       <br>
    
        <button><a href="https://research.cerebralpalsy.org.au/what-is-cerebral-palsy/">Learn More About Cerebray Palsy Here</a></button>
   
    <hr>
    <h2>Down Syndrome</h2>
    In every cell in the human body there is a nucleus, where genetic material is stored in genes. Genes carry the codes responsible for all of our inherited traits and are grouped along rod-like structures called chromosomes. Typically, the nucleus of each cell contains 23 pairs of chromosomes, half of which are inherited from each parent. Down syndrome occurs when an individual has a full or partial extra copy of chromosome 21. Individuals with Down syndrome have an increased risk of developing several medical conditions. These include gastroesophageal reflux, which is a backflow of acidic stomach contents into the esophagus, and celiac disease, which is an intolerance of a wheat protein called gluten. About 15 percent of people with Down syndrome have an underactive thyroid gland (hypothyroidism). The thyroid gland is a butterfly-shaped organ in the lower neck that produces hormones. Individuals with Down syndrome also have an increased risk of hearing and vision problems. Additionally, a small percentage of children with Down syndrome develop cancer of blood-forming cells (leukemia).


    <br>
    <img src = "http://orthokids.org/OrthoKids/media/Images/Conditions/DownsSyndrome/DownSyndrome1.jpg"  class = "center"
         <br>
   
        <button><a href= "https://www.ndss.org/about-down-syndrome/down-syndrome/" >Learn More About Down Syndrome Here</a></button>
  
    <hr>
    <h2>Physical Disabilities</h2>
   <p> Simply stated, a physical disability is any type of physical condition that significantly impacts one or more major life activities. This is a pretty broad definition, but the types of physical disabilities, their causes, and the manner in which they impact a person's life are wide-ranging and virtually limitless. The disability is a limitation on a person's physical functioning, mobility, dexterity or stamina. Other physical disabilities include impairments which limit other facets of daily living, such as respiratory disorders, blindness, epilepsy and sleep disorders. A person with a physical disability is constrained by his physical ability to perform an activity independently such as walking, bathing, toiletting, etc. A person can be physically disabled due to two reasons: Congenital/Hereditary – the person has physical disability since birth or the disability developed at a later stage due to genetic problems, problems with muscle cells or injury during birth. Acquired – the person acquired the physical disability through road or industrial accidents, infections such as polio or diseases and disorders such as stroke or cancer.
   
   <br>
    <img src = "http://cdn.firespring.com/images/e523a873-abde-45d8-a5e3-c7d0474094ce.jpg"  class = "center">
   
  <br>
     
 
    <button><a href= "https://study.com/academy/lesson/what-is-a-physical-disability-definition-types-quiz.html"> Learn More About Physical Disability Here</a></button>
    </div>
  </body>
</html>