<!DOCTYPE HTML>
<html>
  <head>
<link href="https://fonts.googleapis.com/css?family=Cinzel|Homemade+Apple" rel="stylesheet">

    <title>Mental Illness and Disability</title>
    <link rel = "stylesheet" href = "css/style.css">
  </head>
  <body>
   <div id = "blur"></div>
   <div id = "info">
    <div class = "title"> 
      <h1> Mental Illnesses and Disabilities </h1></div>
     <div class = "row">
        <div class = "column">
         <div class = "borders">
          <h2> If You Don't Know Where to Start:</h2>
          <br>
          <button><a href="/quiz">Take Our Quiz Here</a></button>
        </div>
       </div>
     <div class = "column">
         <div class = "borders">
       <h2>Mental Illness</h2>
       Mental illnesses are health conditions involving changes in thinking, emotion or behavior (or a combination of these). Mental illnesses are associated with distress and/or problems functioning in social, work or family activities.
       <br>
       <button><a href="/mentalhealth">Learn More</a></button>
       <br>
       <br>
       <br>
       <br>
       <img src = "http://coss.fsu.edu/subdomains/claudepeppercenter.fsu.edu_wp/wp-content/uploads/2015/07/anxietymentalhealthillnessbipolar.jpg" width = 300>
            <br>
            </div>
    </div>
    <div class="column">
        <div class = "borders">
       <h2>Disabilities </h2>
      The ADA defines a person with a disability as a person who has a physical or mental impairment that substantially limits one or more major life activity. This includes people who have a record of such an impairment, even if they do not currently have a disability. It also includes individuals who do not have a disability but are regarded as having a disability. The ADA also makes it unlawful to discriminate against a person based on that person’s association with a person with a disability.
      <br>
      <button><a href="/disabilities">Learn More</a></button>
      <br>
      <img src = "https://usercontent2.hubstatic.com/12813925.png" width = "250">
      </div>
      </div>
    </div>
      <br>
      <br>
      <br>
      <br>
     <h3>Website created by: Henna, Rahael, River, and Allysson at Kode With Klossy Los Angeles!!</h3>
     
   </div>
  </body>
    
</html>