<!DOCTYPE html>
<html>
  <head>
 <link href="https://fonts.googleapis.com/css?family=Cinzel|Homemade+Apple" rel="stylesheet">
   <link href="css/disabilities.css" rel="stylesheet">
      <title>Mental Health</title>
  
  </head>
  <body>
     <button><a href="/">Home</a></button>
    <h1> Mental Illnesses </h1> 
    
   <div class="test borders"> <h2> Anxiety </h2>
    What is anxiety? The term anxiety refers to feelings of worry, nervousness, apprehension, or fear commonly experienced by people when faced with something they view as challenging – a test, speaking in public, performing in public, a job interview, divorce, layoff, or any number of other stress-inducing events.

Sometimes anxiety is characterized by vague, unsettling feelings of nervousness and apprehension, often with the person having no idea what he or she is anxious about.
    Stimulated by real or imagined dangers, anxiety affects people of all ages and social backgrounds. When it occurs in unrealistic situations or with unusual intensity, it can disrupt everyday life. Some researchers believe anxiety is synonymous with fear , occurring in varying degrees and in situations in which people feel threatened by some danger. Others describe anxiety as an unpleasant emotion caused by unidentifiable dangers or dangers that, in reality, pose no threat. Unlike fear, which is caused by realistic, known dangers, anxiety can be more difficult to identify and alleviate.

A small amount of anxiety is normal in the developing child, especially among adolescents and teens. Anxiety is often a realistic response to new roles and responsibilities, as well as to sexual and identity development. When symptoms become extreme, disabling, and/or when children or adolescents experience several symptoms over a period of a month or more, these symptoms may be a sign of an anxiety disorder, and professional intervention may be necessary. Two common forms of childhood anxiety are general anxiety disorder (GAD) and separation anxiety disorder (SAD), although many physicians and psychologists also include panic disorder and obsessive-compulsive disorder , which tend to occur more frequently in adults. Anxiety that is the result of experiencing a violent event, disaster, or physical abuse is identified as post-traumatic stress disorder (PTSD). Most adult anxiety disorders begin in adolescence or young adulthood and are more common among women than men.
<br>
    <img src = "https://i.amz.mshcdn.com/pMUW3Y4FMe14XAmtAkh_WUPewmk=/950x534/filters:quality(90)/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F473078%2Ffa2584f6-af5c-4b12-af80-99bc9be7af3e.jpg" width="400"
         <br>
     
<br>

  <button><a href="https://adaa.org/understanding-anxiety">Learn More About Anxiety Here</a></button>
        <hr>
  
    <h2>Depression</h2>
    Depression (major depressive disorder) is a common and serious medical illness that negatively affects how you feel, the way you think and how you act. Fortunately, it is also treatable. Depression causes feelings of sadness and/or a loss of interest in activities once enjoyed. It can lead to a variety of emotional and physical problems and can decrease a person’s ability to function at work and at home. Most people feel sad or low at some point in their lives. But clinical depression is marked by a depressed mood most of the day, sometimes particularly in the morning, and a loss of interest in normal activities and relationships -- symptoms that are present every day for at least 2 weeks. In addition, according to the DSM-5 -- a manual used to diagnose mental health conditions -- you may have other symptoms with major depression. Those symptoms might include:

Fatigue or loss of energy almost every day,
Feelings of worthlessness or guilt almost every day,
Impaired concentration, indecisiveness,
Insomnia or hypersomnia (excessive sleeping) almost every day,
Markedly diminished interest or pleasure in almost all activities nearly every day (called anhedonia, this symptom can be indicated by reports from significant others),
Restlessness or feeling slowed down,
Recurring thoughts of death or suicide,
Significant weight loss or gain (a change of more than 5% of body weight in a month).
    <br>
    <img src = "https://endofcapitalism.files.wordpress.com/2018/01/depression-e1515521067589.jpg?w=490" width = "300"
         <br>
         <br>
    
    <button><a href="https://www.nimh.nih.gov/health/topics/depression/index.shtml">Learn More About Depression Here</a></button>
     <hr>
    <h2>Bipolar</h2>
    Bipolar disorder is a treatable illness marked by extreme changes in mood, thought, energy, and behavior. Bipolar disorder is also known as manic depression because a person’s mood can alternate between the “poles”—mania (highs) and depression (lows). The change in mood can last for hours, days, weeks, or months. Bipolar disorder is a serious brain illness. It is also called manic-depressive illness or manic depression. People with bipolar disorder go through unusual mood changes. Sometimes they feel very happy and “up,” and are much more energetic and active than usual. This is called a manic episode. Sometimes people with bipolar disorder feel very sad and “down,” have low energy, and are much less active. This is called depression or a depressive episode.

Bipolar disorder is not the same as the normal ups and downs everyone goes through. The mood swings are more extreme than that and are accompanied by changes in sleep, energy level, and the ability to think clearly. Bipolar symptoms are so strong that they can damage relationships and make it hard to go to school or keep a job. They can also be dangerous. Some people with bipolar disorder try to hurt themselves or attempt suicide.

People with bipolar disorder can get treatment. With help, they can get better and lead successful lives.
    <br>
    
    <img src = "https://health.clevelandclinic.org/wp-content/uploads/sites/3/2018/03/bipolar-disorder.png" width = "300"
         <br>
     <br>
    <button><a href= "https://www.bphope.com/what-is-bipolar/">Learn More About Bipolar Disorder Here</a></button>
     <hr>
    <h2>ADHD</h2>
    ADHD stands for attention deficit hyperactivity disorder. It is a medical condition. A person with ADHD has differences in brain development and brain activity that affect attention, the ability to sit still, and self-control. ADHD can affect a child at school, at home, and in friendships. ADHD is a chronic condition marked by persistent inattention, hyperactivity, and sometimes impulsivity. ADHD begins in childhood and often lasts into adulthood. As many as 2 out of every 3 children with ADHD continue to have symptoms as adults.

Symptoms of ADHD can differ from person to person, but there are three basic types of ADHD. Each one is identified by the symptoms of hyperactivity, impulsivity, and inattention. When the main symptoms are inattention, distraction, and disorganization, the type is usually called primarily inattentive. The symptoms of hyperactivity and possibly impulsiveness appear to diminish with age but are seen in the primarily hyperactive/impulsive type. The third type has some symptoms from each of the other two and is called the combined type.

Children with ADHD often have trouble functioning at home and in school and can have difficulty making and keeping friends. If left untreated, ADHD may interfere with school and work, as well as with social and emotional development.
    <br>
    <img src = "http://rivista-cdn.hourdetroit.com/images/cache/cache_3/cache_8/cache_b/Arrows-Health-f9b5cb83.jpeg?ver=1529442348&aspectratio=1.1764705882353" width="300"
         <br>
         <br>
     
     <button><a href= "https://www.nimh.nih.gov/health/publications/attention-deficit-hyperactivity-disorder-adhd-the-basics/index.shtml">Learn More About ADHD Here</a></button>
      
      </div>
  </body>
</html>