<!DOCTYPE html>

<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Homemade+Apple" rel="stylesheet">
  <link href="css/quiz_page.css" rel="stylesheet">
    <title>MH/D Quiz</title>
</head>

<body>
  <div id = "box"
  <h1>Where should you start your research?</h1>
  <h3>Take this quiz to find out:</h3>
  <form method = POST>
    <ol>
      </div>
   <div id = "box"
      <li><h3>Are you or someone you know affected by mental health illness?</h3>
        <input type = "radio" name = "Q1" value = "Yes">Yes
      <br>
        <input type = "radio" name = "Q1" value = "No">No
      <br>
        <input type = "radio" name = "Q1" value = "Not Applicable">Not Applicable
      <br></li>
  </div>
    <div id = "box"
      <li><h3>Are you or someone you know affected by a disability?</h3>
        <input type = "radio" name = "Q2" value = "Yes">Yes
      <br>
        <input type = "radio" name = "Q2" value = "No">No
      <br>
        <input type = "radio" name = "Q2" value = "Not Applicable">Not Applicable
    </div>
      </li>
<div id = "box"
      <li><h3>Are you or someone you know affected by anxiety?</h3>
        <input type = "radio" name = "Q3" value = "Yes">Yes
      <br>
        <input type = "radio" name = "Q3" value = "No">No
      <br>
        <input type = "radio" name = "Q3" value = "Not Applicable">Not Applicable
      <br></li>
</div>
 <div id = "box"
      <li><h3>Are you or someone you know affected by depression?</h3>
        <input type = "radio" name = "Q4" value = "Yes">Yes
      <br>
        <input type = "radio" name = "Q4" value = "No">No
      <br>
        <input type = "radio" name = "Q4" value = "Not Applicable">Not Applicable
      <br></li>
</div>
 <div id = "box"
      <li><h3>Are you or someone you know affected by Bipolar Disorder?</h3>
        <input type = "radio" name = "Q5" value = "Yes">Yes
      <br>
        <input type = "radio" name = "Q5" value = "No">No
      <br>
        <input type = "radio" name = "Q5" value = "Not Applicable">Not Applicable
      <br></li>
</div>
 <div id = "box"
     <li><h3>Are you or someone you know affected by ADHD?</h3>
        <input type = "radio" name = "Q6" value = "Yes">Yes
      <br>
        <input type = "radio" name = "Q6" value = "No">No
      <br>
        <input type = "radio" name = "Q6" value = "Not Applicable">Not Applicable
      <br></li>
</div>
 <div id = "box"
      <li><h3>Are you or someone you know affected by Autism?</h3>
        <input type = "radio" name = "Q7" value = "Yes">Yes
      <br>
        <input type = "radio" name = "Q7" value = "No">No
      <br>
        <input type = "radio" name = "Q7" value = "Not Applicable">Not Applicable
      <br></li>
</div>
 <div id = "box"
      <li><h3>Are you or someone you know affected by Cerebel Palsy?</h3>
        <input type = "radio" name = "Q8" value = "Yes">Yes
      <br>
        <input type = "radio" name = "Q8" value = "No">No
      <br>
        <input type = "radio" name = "Q8" value = "Not Applicable">Not Applicable
      <br></li>
</div>
 <div id = "box"
      <li><h3>Are you or someone you know affected by Down Syndrome?</h3>
        <input type = "radio" name = "Q9" value = "Yes">Yes
      <br>
        <input type = "radio" name = "Q9" value = "No">No
      <br>
        <input type = "radio" name = "Q9" value = "Not Applicable">Not Applicable
      <br></li>
</div>
 <div id = "box"
      <li><h3>Are you or someone you know affected by a Physcial Disablity?</h3>
        <input type = "radio" name = "Q10" value = "Yes">Yes
      <br>
        <input type = "radio" name = "Q10" value = "No">No
      <br>
        <input type = "radio" name = "Q10" value = "Not Applicable">Not Applicable</li>
    </ol>
  <br>
  <br>
</div>
   <center> <input type = "submit" value = "Submit" action = "/results"> <center>
  </form>
</body>

</html>