<!DOCTYPE html>

<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Homemade+Apple" rel="stylesheet">
    <link href="css/quiz_results.css" rel="stylesheet">
    <title>Quiz Results</title>
  </head>
  <body>
  <h1>Thank you for taking the Questionnare!</h1>
  
    <h3>According to your answers to our questions, you should start by researching <%=@answer%> </h3>
      <br>
  
      
    <p>To go back to the home page, click here:</p>
      <br>
      <button><a href="/">Home</a></button>
  </body>
  
  